<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="log4j2.xml" shutdownHook="disable">
  <Properties>
    <Property name="log_pattern">[%d{MM:dd:yyyy HH:mm:ss.SSS}] [%logger{36}] %-5level: %msg%n</Property>
    <Property name="debug_pattern">[%d{MM:dd:yyyy HH:mm:ss.SSS}] [%logger{36}] %-5level: [%C#%M] %msg%n</Property>
  </Properties>
  
  <Appenders>
    <Console name="System.out" target="SYSTEM_OUT">
      <PatternLayout pattern="${debug_pattern}"/>
      <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
    </Console>
	
    <Console name="System.err" target="SYSTEM_ERR">
      <PatternLayout pattern="${debug_pattern}"/>
    </Console>
	
    <File name="Tests" fileName="log/tests.log" append="false">
      <PatternLayout pattern="${log_pattern}"/>
    </File>
	
    <File name="Network" fileName="log/network.log" append="false">
      <PatternLayout pattern="${log_pattern}"/>
    </File>
	
    <File name="Debug" fileName="log/debug.log" append="false">
      <PatternLayout pattern="${debug_pattern}"/>
      <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
    </File>
	
    <File name="General" fileName="log/general.log" append="false">
      <PatternLayout pattern="${log_pattern}"/>
    </File>
	
    <File name="Database" fileName="log/database.log" append="false">
      <PatternLayout pattern="${log_pattern}"/>
    </File>
	
    <File name="Trie" fileName="log/trie.log" append="false">
      <PatternLayout pattern="${log_pattern}"/>
    </File>
	
    <File name="Shutdown" fileName="log/shutdown.log" append="false">
      <PatternLayout pattern="${log_pattern}"/>
    </File>
  
    <File name="Execution Feedback" fileName="log/executionFeedback.log" append="false">
      <PatternLayout pattern="${log_pattern}"/>
    </File>
  
    <File name="Node" fileName="log/node.log" append="false">
      <PatternLayout pattern="${log_pattern}"/>
    </File>
  
    <File name="SessionController" fileName="log/sessionController.log" append="false">
      <PatternLayout pattern="${log_pattern}"/>
    </File>
	
  </Appenders>
  
  <Loggers>
    <Logger name="Tests" level="trace">
      <AppenderRef ref="Tests" level="INFO"/>
    </Logger>
    
    <Logger name="Network" level="trace">
      <AppenderRef ref="Network" level="INFO"/>
    </Logger>
    
    <Logger name="General" level="trace">
      <AppenderRef ref="General" level="INFO"/>
    </Logger>
    
    <Logger name="Database" level="trace">
      <AppenderRef ref="Database" level="INFO"/>
    </Logger>
    
    <Logger name="Trie" level="trace">
      <AppenderRef ref="Trie" level="INFO"/>
    </Logger>
    
    <Logger name="Shutdown" level="trace">
      <AppenderRef ref="Shutdown" level="INFO"/>
    </Logger>
    
    <Logger name="Execution Feedback" level="trace">
      <AppenderRef ref="Execution Feedback" level="INFO"/>
    </Logger>
    
    <Logger name="Node" level="trace">
      <AppenderRef ref="Node" level="INFO"/>
    </Logger>
    
    <Logger name="SessionController" level="trace">
      <AppenderRef ref="SessionController" level="INFO"/>
    </Logger>
   
    <Root level="error">
      <AppenderRef ref="System.err" level="ERROR"/>
      <AppenderRef ref="System.out" level="WARN"/>
      <AppenderRef ref="Debug" level="TRACE"/>
    </Root>
  </Loggers>
  
</Configuration>